{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}


{% set networkData  = _Network.getNetworkData() %}
{% set blogInfo     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

{% set themeColor   = "#4A90E2" %}
{% if networkData['styling']['colours']['headingColor'] is defined %}
    {% set themeColor = networkData['styling']['colours']['headingColor'] %}
{% endif %}

{% set relatedArticles = [] %}
{% set articleBlog = article.blog.title | lower %}

{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}


{% set cropped = true %}
{% if article.additionalInfo is defined and article.additionalInfo.image_crop is defined and article.additionalInfo.image_crop == 'full' %}
    {% set cropped = false %}
{% endif %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}

{% set pwstats = {} %}
{% if not _User.isGuest() %}
    {% set pwstats = _User.getPaywallStats(false) %}
{% endif %}





{% set paywallType = "" %}
{% if not _User.isAdminUser() and article.showPaywall == true %}

    {% set showPaywall = true %}
    
    {# DETERMINE IF PAYWALL IS 'PAID' OR 'FREE' #}
    {% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
        {# TURN FREE PAYWALL OFF FOR LOGGED IN USERS AND SET FREE PAYWALL TO SHOW #}
        
        {% if not _User.isGuest() %}
            {% set showPaywall = false %}
        {% else %}
            {% set paywallType = "signup" %}
        {% endif %}

        
    {% else %}
        {# DETERMINE WHICH PAYWALL TO SHOW #}
        {% if not _User.isGuest() %}

            {% if pwstats['type'] == 'article' %}
                {% set paywallType = "topup" %}
            {% elseif pwstats['type'] == 'time' %}
                {% set paywallType = "renew" %}
            {% else %}
                {% set paywallType = "upgrade" %}
            {% endif %}

        {% else %}
            {% set paywallType = "subscribe" %}
        {% endif %}
    {% endif %}
{% endif %}




{% set trialToggle = false %}

{% if showPaywall == true %}
    {# {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %} #}

    {% set storySplit = ArticleContent | split('</p>')  %}
    {% set para2      = storySplit[1] | slice(0, 80) ~ '</p>'  %}
    {% set ArticleContent  = [storySplit[0], para2] | join('</p>') %}

    {% set plans 		= networkData['paywallPlans'] %}
    {% for plan in plans  %}
        {% if plan.trial_status == "1" %}
            {% set trialToggle = true %}
        {% endif %}
    {% endfor %}

{% else %}
    {# Only grab these if article is not paywalled #}
    {# {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id], interval: 168 }) %} #}
    {% if config['inventory']['articleAd'] is defined %}
        {% set adPos = config['inventory']['articleAd']  %}
        
        {% set storySplit = ArticleContent | split('<p>')  %}

        {% if storySplit[(adPos['position'] * 2) - 1] %}
            {% if adPos['slot'] is defined %}
                {% set inarticleslot = adPos['slot'] %}
                {% set ArticleContent = '<p>' %}
                {% for para in storySplit %}
                    {% set ArticleContent = ArticleContent ~ '<p>' ~ para %}
                    {% if loop.index == adPos['position'] %}
                        {% set ArticleContent = ArticleContent ~ '<div class="u-margin-top-30 u-margin-bottom-30 '~ adPos['class'] ~'"><div class="j-adslot" id="' ~ inarticleslot ~ '" data-adshape="banner"></div></div>' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        {% endif %}
    {% endif %}
    {% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}
{% endif %}





{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
    {% set featured = article.media[0].type %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}


{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}







<main id="main" class="o-body-container o-body-container-md u-margin-top-60" role="main" data-paywall-type="{{paywallType}}">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-7 j-article-container">

                <div class="c-article c-article-sm" >

                    {% if articleImg %} 

                        <div class="gallery-container relative">
                            {% set galleryStyle = 'article' %}
                            {% if article.media|length > 1 or not cropped %}
                                {% set galleryStyle = 'gallery' %}
                            {% endif %}


                            {% if article.media|length > 0 %}
                                {% set imageFeature = featured == 'image' ? true : false %}
                                {{this.render('partials/gallery.twig', {
                                    media: article.media,
                                    default: imageFeature,
                                    watermark: watermark,
                                    galleryStyle: galleryStyle,
                                    showPaywall: showPaywall
                                }) | raw}}
                            {% endif %}

                        </div> 

                    {% endif %}
                    {% if showPaywall == true %}
                        {% set imageMargin = 'u-tablet-margin-top-60 u-mobile-margin-top-100 u-desktop-margin-top-80' %}
                    {% else %}
                        {% set imageMargin = 'u-tablet-margin-top-30 u-desktop-margin-top-80' %}
                    {% endif %}

                    <div class="c-article__main {{imageMargin}}">
                        <div class="c-article__head">
                            
                            {% if article.userHasEditArticleAccess is defined and article.userHasEditArticleAccess == 1 %}
                                    <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link" data-access="{{article.userHasEditArticleAccess}}">Edit article</a>
                            {% endif %}


                            <div class="c-article__category">
                                {{article.label}}
                            </div>
                            <div class="c-article__title">
                                {{ quotes.smarten(article.title) }}
                            </div>
                            <div class="c-article__posted-on">
                                <time class="c-article__published">{{article.publishedDate}}</time>
                                {% if updated %}
                                    <time class="c-article__updated">Updated {{ updateDate | capitalize }}</time>
                                {% endif %}

                            </div>


                            
                            <div class="c-article__posted-by row">
                                <div class="c-article__author col-12 col-md">
                                    <div class="c-article__avatar" style="background-image: url({{ profileImg }});"></div>
                                    {% if config['hide-author'] is defined and config['hide-author'] %}
                                        <p class="c-article__author-name">{{ article.createdBy['displayName'] }}</p>
                                    {% else %}
                                        <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{ article.createdBy['displayName'] }}</a>
                                    {% endif %}
                                </div>

                                {% if article['createdBy']['coauthors'] %}
                                    {% for author in article['createdBy']['coauthors'] %}
                                        <div class="c-article__author col-12 col-md">
                                            <div class="c-article__avatar" style="background-image: url({{ _Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }});"></div>
                                            {% if config['hide-author'] is defined and config['hide-author'] %}
                                                <p class="c-article__author-name" >{{ author['displayName'] }}</p>
                                            {% else %}
                                                <a class="c-article__author-name" href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{ author['displayName'] }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            
                                {# <div class="c-article__social-links col-12  col-md d-none d-md-flex">
                                    <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="c-article__social-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M.232 13.818l7.203-6.825L.211.903l-.064.399v12.096c0 .084.028.224.085.42zm8.12-7.644l.959.756 1.896 1.533 1.897-1.533.96-.756L21.308.063C21.181.021 21.053 0 20.925 0H1.468c-.142 0-.263.021-.362.063l7.246 6.111zM1.468 14.7h19.457c.128 0 .25-.021.363-.063L14.02 7.77l-2.814 2.247L8.394 7.77l-7.267 6.867c.114.042.228.063.341.063zm20.715-.882c.042-.154.064-.294.064-.42V1.302c0-.14-.022-.273-.064-.399l-7.203 6.09 7.203 6.825z"/>
                                        </svg>
                                    </a>

                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" target="_blank" class="c-article__social-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M6.39 5.896V4.348c0-.234.013-.417.04-.548.027-.13.08-.254.16-.372.079-.118.204-.203.377-.254.172-.053.404-.079.695-.079h1.57V0H6.709c-1.457 0-2.504.34-3.14 1.018-.637.68-.955 1.685-.955 3.017v1.86H.725v3.096h1.888V18H6.39V8.99h2.525l.338-3.094H6.39z"/>
                                        </svg>
                                    </a>
                                    <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"  target="_blank" class="c-article__social-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M19.938 2.823c.989-.588 1.662-1.42 2.02-2.496-.903.539-1.876.908-2.916 1.11C18.121.479 16.996 0 15.665 0c-1.28 0-2.371.445-3.275 1.336-.904.89-1.355 1.966-1.355 3.227 0 .336.033.68.102 1.033-1.893-.1-3.66-.571-5.297-1.412-1.636-.84-3.035-1.958-4.195-3.352-.426.705-.64 1.462-.64 2.269 0 .806.188 1.537.564 2.193.375.655.878 1.194 1.509 1.613-.734-.033-1.424-.226-2.072-.58-.018 1.16.333 2.126 1.048 2.95.717.824 1.604 1.345 2.661 1.563-.392.101-.793.151-1.202.151-.274 0-.563-.025-.87-.076.307.908.853 1.656 1.637 2.245.785.587 1.68.89 2.687.907-1.672 1.294-3.582 1.941-5.731 1.941-.41 0-.785-.017-1.125-.05 2.148 1.36 4.51 2.041 7.086 2.041 1.637.018 3.173-.234 4.604-.755 1.433-.522 2.661-1.202 3.685-2.042 1.023-.84 1.901-1.824 2.635-2.95.733-1.127 1.279-2.294 1.637-3.504.359-1.21.538-2.43.538-3.656 0-.253-.009-.446-.026-.58.904-.638 1.671-1.42 2.303-2.345 0 0-1.75.555-2.635.656z"/>
                                        </svg>
                                    </a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}"  target="_blank" class="c-article__social-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20">
                                            <path fill="{{themeColor}}" fill-rule="evenodd" d="M.93 20h4.552V6.505H.929V20zM3.235 0C1.678 0 .659 1.007.659 2.331c0 1.295.99 2.333 2.517 2.333h.03c1.588 0 2.576-1.037 2.576-2.333C5.752 1.007 4.794 0 3.236 0zm18.663 12.262V20h-4.552v-7.22c0-1.813-.659-3.051-2.306-3.051-1.258 0-2.007.834-2.336 1.64-.12.29-.151.69-.151 1.095V20H8S8.06 7.772 8 6.505h4.553v1.913l-.03.044h.03v-.044c.605-.918 1.686-2.23 4.104-2.23 2.996 0 5.242 1.929 5.242 6.074z"/>
                                        </svg>
                                    </a>
                                </div> #}
                            </div>

                            <div class="row u-margin-bottom-30">
                                <div class="col-12 c-article__time-container">
                                    <div class="c-article__social-links">
                                        <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" class="c-article__social-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15">
                                                <path fill="{{themeColor}}" fill-rule="evenodd" d="M.232 13.818l7.203-6.825L.211.903l-.064.399v12.096c0 .084.028.224.085.42zm8.12-7.644l.959.756 1.896 1.533 1.897-1.533.96-.756L21.308.063C21.181.021 21.053 0 20.925 0H1.468c-.142 0-.263.021-.362.063l7.246 6.111zM1.468 14.7h19.457c.128 0 .25-.021.363-.063L14.02 7.77l-2.814 2.247L8.394 7.77l-7.267 6.867c.114.042.228.063.341.063zm20.715-.882c.042-.154.064-.294.064-.42V1.302c0-.14-.022-.273-.064-.399l-7.203 6.09 7.203 6.825z"/>
                                            </svg>
                                        </a>

                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" target="_blank" class="c-article__social-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18">
                                                <path fill="{{themeColor}}" fill-rule="evenodd" d="M6.39 5.896V4.348c0-.234.013-.417.04-.548.027-.13.08-.254.16-.372.079-.118.204-.203.377-.254.172-.053.404-.079.695-.079h1.57V0H6.709c-1.457 0-2.504.34-3.14 1.018-.637.68-.955 1.685-.955 3.017v1.86H.725v3.096h1.888V18H6.39V8.99h2.525l.338-3.094H6.39z"/>
                                            </svg>
                                        </a>
                                        <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"  target="_blank" class="c-article__social-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                                                <path fill="{{themeColor}}" fill-rule="evenodd" d="M19.938 2.823c.989-.588 1.662-1.42 2.02-2.496-.903.539-1.876.908-2.916 1.11C18.121.479 16.996 0 15.665 0c-1.28 0-2.371.445-3.275 1.336-.904.89-1.355 1.966-1.355 3.227 0 .336.033.68.102 1.033-1.893-.1-3.66-.571-5.297-1.412-1.636-.84-3.035-1.958-4.195-3.352-.426.705-.64 1.462-.64 2.269 0 .806.188 1.537.564 2.193.375.655.878 1.194 1.509 1.613-.734-.033-1.424-.226-2.072-.58-.018 1.16.333 2.126 1.048 2.95.717.824 1.604 1.345 2.661 1.563-.392.101-.793.151-1.202.151-.274 0-.563-.025-.87-.076.307.908.853 1.656 1.637 2.245.785.587 1.68.89 2.687.907-1.672 1.294-3.582 1.941-5.731 1.941-.41 0-.785-.017-1.125-.05 2.148 1.36 4.51 2.041 7.086 2.041 1.637.018 3.173-.234 4.604-.755 1.433-.522 2.661-1.202 3.685-2.042 1.023-.84 1.901-1.824 2.635-2.95.733-1.127 1.279-2.294 1.637-3.504.359-1.21.538-2.43.538-3.656 0-.253-.009-.446-.026-.58.904-.638 1.671-1.42 2.303-2.345 0 0-1.75.555-2.635.656z"/>
                                            </svg>
                                        </a>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{article.url}}&title={{article.title|url_encode}}"  target="_blank" class="c-article__social-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20">
                                                <path fill="{{themeColor}}" fill-rule="evenodd" d="M.93 20h4.552V6.505H.929V20zM3.235 0C1.678 0 .659 1.007.659 2.331c0 1.295.99 2.333 2.517 2.333h.03c1.588 0 2.576-1.037 2.576-2.333C5.752 1.007 4.794 0 3.236 0zm18.663 12.262V20h-4.552v-7.22c0-1.813-.659-3.051-2.306-3.051-1.258 0-2.007.834-2.336 1.64-.12.29-.151.69-.151 1.095V20H8S8.06 7.772 8 6.505h4.553v1.913l-.03.044h.03v-.044c.605-.918 1.686-2.23 4.104-2.23 2.996 0 5.242 1.929 5.242 6.074z"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="c-article__time-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" viewBox="0 0 21 23">
                                            <g fill="none" fill-rule="evenodd">
                                                <g fill="#7F7F7F">
                                                    <g>
                                                        <g>
                                                            <path d="M10.687 2.431c5.536.192 9.978 4.671 9.978 10.238 0 5.694-4.635 10.301-10.3 10.301C4.635 22.97 0 18.363 0 12.67c0-1.664.45-3.327 1.223-4.863.386-.704 1.545-.128 1.159.64-.708 1.28-1.095 2.751-1.095 4.223 0 4.99 4.056 9.022 9.078 9.022 4.957 0 9.012-4.031 9.012-9.022 0-4.799-3.862-8.766-8.69-8.958l1.352 1.28c.579.64-.322 1.535-.902.896L8.69 3.519c-.258-.256-.258-.64 0-.896L11.137.192c.58-.576 1.48.32.902.896L10.687 2.43z" transform="translate(-759.000000, -1072.000000) translate(759.000000, 1069.000000) translate(0.000000, 3.000000)"/>
                                                            <path d="M10.624 9.407c0-.81 1.376-.81 1.376 0v5.17c0 .374-.275.623-.688.623H7.87c-.895 0-.895-1.246 0-1.246h2.753V9.407z" transform="translate(-759.000000, -1072.000000) translate(759.000000, 1069.000000) translate(0.000000, 3.000000)"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <span class="c-article__time-info--label">{{article.readingTime}} min read</span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="c-article__container c-article__container-sm">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



                        {% if showPaywall == true %}
                            {{this.render('partials/article/paywall_article_notice.twig', {networkData:networkData, paywallType:paywallType}) | raw}}
                        {% endif %}

                    </div>

                    {% if showPaywall == false %}
                        <!-- Disqus Comment Added -->
                        {% if networkData.thirdPartyIntegrations['disqus'] | length > 0 and networkData.thirdPartyIntegrations['disqus']['shortName'] != '' %}
                            {{this.render("partials/article/_disqus_comments.twig", {disqus: networkData.thirdPartyIntegrations['disqus'], userId: article.createdBy['id'], url:article.url, articleId: article.id}) | raw}}
                        {% endif %}
                    {% endif %}


                </div>
                <!-- End Article Page -->
            </div>
            <div class="col-12 offset-lg-1 col-lg-4">
                <div class="o-body-container__right-layout j-article-sidebar">
                    {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                    {% endif %}
                </div>
            </div>

        </div>
        {% if showPaywall == false %}
            <div class="row c-related-articles u-desktop-margin-top-100">
                <div class="col-12">
                    <h1 class="c-related-articles__header" >Latest stories</h1>
                </div>
                
                <div class="col-12 u-margin-top-30">
                    <div class="row">
                        {% for i in 0..3 if recentArticles[i] %}
                            <div class="col-12 col-md-4 col-lg-3{% if i == 3 %} d-md-none d-lg-block{% endif %}">
                                {{this.render('partials/_single-article.twig', {
                                    article: recentArticles[i], 
                                    imageSize: {width: 300, height: 180},
                                    containerClass: 'card-5-mobile card-4-tablet card-4-desktop',
                                    site:   site
                                }) | raw}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}





    </div>
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</main>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.articleController = Acme.ArticleController();
    });
</script>
