{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}


{% set networkData = _Network.getNetworkData() %}
{% set blogInfo = _Blog.getBlog() %}
{% set config = _Network.getThemeConfig() %}

{% set themeColor = "#4A90E2" %}
{% if networkData['styling']['colours']['headingColor'] is defined %}
{% set themeColor = networkData['styling']['colours']['headingColor'] %}
{% endif %}

{% set relatedArticles = [] %}
{% set articleBlog = article.blog.title | lower %}

{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}


{% set cropped = true %}
{% if article.additionalInfo is defined and article.additionalInfo.image_crop is defined and
article.additionalInfo.image_crop == 'full' %}
{% set cropped = false %}
{% endif %}


{% set showPaywall = false %}
{% set ArticleContent = article.content %}

{% set pwstats = {} %}
{% if not _User.isGuest() %}
{% set pwstats = _User.getPaywallStats(false) %}
{% endif %}


{% set paywallType = "" %}
{% if not _User.isAdminUser() and article.showPaywall == true %}

{% set showPaywall = true %}

{# DETERMINE IF PAYWALL IS 'PAID' OR 'FREE' #}
{% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
{# TURN FREE PAYWALL OFF FOR LOGGED IN USERS AND SET FREE PAYWALL TO SHOW #}

{% if not _User.isGuest() %}
{% set showPaywall = false %}
{% else %}
{% set paywallType = "signup" %}
{% endif %}


{% else %}
{# DETERMINE WHICH PAYWALL TO SHOW #}
{% if not _User.isGuest() %}

{% if pwstats['type'] == 'article' %}
{% set paywallType = "topup" %}
{% elseif pwstats['type'] == 'time' %}
{% set paywallType = "renew" %}
{% else %}
{% set paywallType = "upgrade" %}
{% endif %}

{% else %}
{% set paywallType = "subscribe" %}
{% endif %}
{% endif %}
{% endif %}


{% set trialToggle = false %}

{% if showPaywall == true %}
{# {% set storySplit = ArticleContent | split('<p>') %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>' %}
{% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('
<p>') %} #}

    {% set storySplit = ArticleContent | split('</p>') %}
{% set para2 = storySplit[1] | slice(0, 80) ~ '</p>' %}
{% set ArticleContent = [storySplit[0], para2] | join('</p>') %}

{% set plans = _Paywall.getActiveNetworkPaywallPlans() %}

{% for plan in plans %}
{% if plan.trial_status == "1" %}
{% set trialToggle = true %}
{% endif %}
{% endfor %}

{% else %}
{# Only grab these if article is not paywalled #}
{# {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds :
[article.id], interval: 168 }) %} #}
{% if config['inventory']['articleAd'] is defined %}
{% set adPos = config['inventory']['articleAd'] %}

{% set storySplit = ArticleContent | split('<p>') %}

    {% if storySplit[(adPos['position'] * 2) - 1] %}
    {% if adPos['slot'] is defined %}
    {% set inarticleslot = adPos['slot'] %}
    {% set ArticleContent = '
<p>' %}
    {% for para in storySplit %}
    {% set ArticleContent = ArticleContent ~ '
<p>' ~ para %}
    {% if loop.index == adPos['position'] %}
    {% set ArticleContent = ArticleContent ~ '
<div class="u-margin-top-30 u-margin-bottom-30 '~ adPos['class'] ~'">
    <div class="j-adslot" id="' ~ inarticleslot ~ '" data-adshape="banner"></div>
</div>' %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{% endif %}
{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}
{% endif %}


{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
{% set watermark = config['watermark']['settings'] %}
{% endif %}


{% set articleImg = false %}
{% set featured = false %}
{% if article.media|length > 0 %}
{% set articleImg = true %}
{% set featured = article.media[0].type %}
{% endif %}


{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop':
'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}


<main id="main" class="o-body-container o-body-container-md" role="main" data-paywall-type="{{paywallType}}">
    <div class="c-article c-article-xs {% if article.media|length > 1 %} c-article__galleryView {% endif %}">
        <div class="c-article__top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="c-article__top__container">
                            <div class="u-generic-socialIcons">
                                <div class="u-generic-socialIcons__item">Share</div>
                                <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}"
                                    class="u-generic-socialIcons__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewbox="0 0 23 15">
                                        <path fill="{{themeColor}}" fill-rule="evenodd"
                                            d="M.232 13.818l7.203-6.825L.211.903l-.064.399v12.096c0 .084.028.224.085.42zm8.12-7.644l.959.756 1.896 1.533 1.897-1.533.96-.756L21.308.063C21.181.021 21.053 0 20.925 0H1.468c-.142 0-.263.021-.362.063l7.246 6.111zM1.468 14.7h19.457c.128 0 .25-.021.363-.063L14.02 7.77l-2.814 2.247L8.394 7.77l-7.267 6.867c.114.042.228.063.341.063zm20.715-.882c.042-.154.064-.294.064-.42V1.302c0-.14-.022-.273-.064-.399l-7.203 6.09 7.203 6.825z" />
                                    </svg>
                                </a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}"
                                    target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/fb-solid.svg" alt="image" />
                                </a>
                                <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}"
                                    target="_blank" class="u-generic-socialIcons__item">
                                    <img src="{{networkData.templatePath}}/static/icons/twitter-solid.svg"
                                        alt="image" />
                                </a>
                            </div>
                            {% if article.media|length <= 1 %} <div class="c-article__time-info">
                                <div class="c-article__time-info--img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24" height="24" viewbox="0 0 24 24">
                                        <defs>
                                            <path id="m4x15l1r5a"
                                                d="M11.377 2.535C17.271 2.735 22 7.416 22 13.234 22 19.185 17.065 24 11.034 24 4.934 24 0 19.185 0 13.234c0-1.739.48-3.478 1.302-5.082.411-.736 1.645-.134 1.234.668-.754 1.338-1.165 2.876-1.165 4.414 0 5.216 4.318 9.429 9.663 9.429 5.278 0 9.595-4.213 9.595-9.43 0-5.014-4.112-9.16-9.252-9.361l1.44 1.337c.616.669-.343 1.605-.96.937L9.252 3.67c-.274-.267-.274-.668 0-.936L11.857.194c.617-.602 1.576.334.96.936l-1.44 1.405zm-.067 7.29c0-.846 1.465-.846 1.465 0v5.403c0 .39-.293.651-.732.651H8.38c-.953 0-.953-1.302 0-1.302h2.93V9.825z" />
                                        </defs>
                                        <g fill="none" fill-rule="evenodd">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g
                                                            transform="translate(-797.000000, -164.000000) translate(797.000000, 161.000000) translate(0.000000, 3.000000) translate(1.000000, 0.000000)">
                                                            <mask id="fuku2ns3vb" fill="#fff">
                                                                <use xlink:href="#m4x15l1r5a" />
                                                            </mask>
                                                            <use fill="#7F7F7F" xlink:href="#m4x15l1r5a" />
                                                            <g fill="#636567" mask="url(#fuku2ns3vb)">
                                                                <rect width="84" height="83" rx="6"
                                                                    transform="translate(-24.000000, -26.000000)" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="c-article__time-info--label">
                                    {{article.readingTime}} min read
                                </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 {% if article.media|length <= 1 %} col-lg-8 {% endif %}">
                <div class="c-article__main">
                    <div class="c-article__head">
                        <div class="row">
                            <div class="col-12 {% if article.media|length > 1 %} col-lg-10 {% endif %}">
                                <div class="c-article__head-top">
                                    <div class="c-article__category">
                                        {{article.label}}
                                    </div>
                                    {% if article.media|length > 1 %}
                                    <div class="c-article__posted-on">
                                        <time class="c-article__published">{{article.publishedDate}}</time>
                                        {% if updated %}
                                        <time class="c-article__updated">Updated
                                            {{ updateDate | capitalize }}</time>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="c-article__title">
                                    {{ quotes.smarten(article.title) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if article.media|length <= 1 %} <div class="c-article__posted-by">
                        <div class="c-article__posted-by__container">
                            <div class="c-article__author">
                                <div class="c-article__avatar" style="background-image: url({{profileImg}})"></div>
                                {% if config['hide-author'] is defined and config['hide-author'] %}
                                <p class="c-article__author-name">{{ article.createdBy['displayName'] }}</p>
                                {% else %}
                                <a class="c-article__author-name"
                                    href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts">{{
                                    article.createdBy['displayName'] }}</a>
                                {% endif %}
                            </div>
                            {% if article['createdBy']['coauthors'] %}
                            {% for author in article['createdBy']['coauthors'] %}
                            <div class="c-article__author">
                                <div class="c-article__avatar"
                                    style="background-image: url({{_Media.getMediaUrl(author['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'})}})">
                                </div>
                                {% if config['hide-author'] is defined and config['hide-author'] %}
                                <p class="c-article__author-name">{{ author['displayName'] }}</p>
                                {% else %}
                                <a class="c-article__author-name"
                                    href="{{_AppHelper.getUserProfileUrl(author['username'])}}/posts">{{
                                    author['displayName'] }}</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="c-article__posted-on">
                            <time class="c-article__published">{{article.publishedDate}}</time>
                            {% if updated %}
                            <time class="c-article__updated">Updated
                                {{ updateDate | capitalize }}</time>
                            {% endif %}
                        </div>
                </div>
                {% endif %}

                <div class="">
                    {% if articleImg %}

                    <div class="gallery-container relative">
                        {% set galleryStyle = 'article' %}
                        {% if article.media|length > 1 or not cropped %}
                        {% set galleryStyle = 'gallery' %}
                        {% endif %}


                        {% if article.media|length > 0 %}
                        {% set imageFeature = featured == 'image' ? true : false %}
                        {{this.render('partials/gallery.twig', {
                        media: article.media,
                        default: imageFeature,
                        watermark: watermark,
                        galleryStyle: galleryStyle,
                        showPaywall: showPaywall
                        }) | raw}}
                        {% endif %}

                    </div>

                    {% endif %}
                </div>

                <div class="c-article__main-content">
                    <div class="c-article__excerpt">
                        {{article.excerpt}}
                    </div>
                    <div class="c-article__container">
                        {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                    </div>
                </div>
            </div>
        </div>
        {% if article.media|length <= 1 %} <div class="col-12 col-lg-4">advertisement here
    </div>
    {% endif %}
    </div>
    </div>
    </div>
</main>