{{ set(this, 'title', 'Reset Password') }}

{{this.registerJs('AuthController.resetPassword()')}}
{% set config       = _Network.getThemeConfig() %}

<div class="login-page">
    <div class="container">
        <div class="row c-reset-password">
            <div class="col-12 col-lg-7 u-margin-top-40 u-margin-bottom-60" id="login-social">
                <h3 class="">Set your password</h3>
                <div class="">
                    <form id="resetPasswordForm" class="" action="" method="post">
                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                        
                        <div class="row">
                            <div class="col-12 col-md-6 u-margin-top-30">
                                {{_AppForm.input({type:'password', name: 'password', value: '', id: 'password', class: 'form-control', placeholder: 'New Password'}) | raw }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-6 u-margin-top-20  u-margin-bottom-30">
                                {{_AppForm.input({type:'password', name: 'verifypassword', value: '', class: 'form-control', placeholder: 'Verify Password'}) | raw }}
                            </div>
                        </div>

                        {% if errors | length > 0 %}
                            <ul class="c-reset-password__errors">
                                {% for errorArr in errors %}
                                    {% for error in errorArr %}
                                        <li class="c-reset-password__error">{{error}}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}



                        {{_AppForm.button({type:'submit', name: 'resetPassword', class: 'btn btn-success forget_btn c-button c-button--rounded c-button--blue', label:'Submit'}) | raw }}
                    </form>
                </div>
            </div>
            <div class="col-12 offset-lg-1 col-lg-4">
                {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                    <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
