{% set link = _Blog.getHomeBlogSettings() %}
{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% if networkData.logoMedia | length > 0 %}
{% set logo = _Media.getMediaUrl(networkData.secondaryLogoMedia, 650, 144, {'crop': 'fit'} )%}
{% endif %}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set footerBottomMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer-bottom'}) %}

{% set paywall = true %}

{% if config['paywall'] is defined and config['paywall'] == false %}
{% set paywall = false %}
{% endif %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}

{% set addressCol= 'col-lg-4' %}
{% set additionalInfo= 'justify-content-end' %}
{% if paywall %}
	{% if loggedin != '1' %}
		{% set addressCol= 'col-lg-3' %}
		{% set additionalInfo= '' %}
	{% endif %}
{% endif %}

<footer class="c-footer c-footer-xs">
    <div class="c-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-footer__top-bar">
                        <div class="c-footer__logo">
                            <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo">
                                <img src="{{logo}}" class="image-fluid" />
                            </a>
                        </div>
                        <div class="c-footer__additionalInfo {{additionalInfo}}">
							{% if paywall %}
                				{% if loggedin %}
									<a href="{{_AppHelper.getLogoffUrl()}}" class="c-button c-button--black d-block logout-btn d-md-none">Logout</a>
								{% else %}
									<div class="c-footer__additionalInfo-btns d-flex d-lg-none">
										<a id="signinBtn" href="javascript:;" class="c-button c-button--black d-inline-block d-md-none">Sign in</a>
										<a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions" class="c-button c-button--black-bordered">Subscribe</a>
									</div>
								{% endif %}
                			{% endif %}
                            <div class="c-nav c-nav-1 d-none d-md-flex">
                                <ul class="c-nav__grid">
									{{this.render('../_submenu_navigation.twig', {
										items: footerBottomMenu
									}) | raw }}
                                </ul>
								{% if paywall %}
                					{% if loggedin %}
                                		<a class="c-nav--signIn" href="{{_AppHelper.getLogoffUrl()}}">Logout</a>
									{% else %}
                                		<a class="c-nav--signIn" id="signinBtn" href="javascript:;">Sign in</a>
									{% endif %}
								{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="c-footer__top-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__address d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-4 {{addressCol}}">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Address</div>
                        <div class="c-footer__address__content address">
                            {{addresses.address}}<br />{{addresses.city}}<br />{{addresses.state}}
                            {{addresses.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Email</div>
                        {% if addresses.email != "" %}
                        <div class="c-footer__address__content">
                            <a href="mailto:{{addresses.email}}"
                                class="c-footer__addresses__content">{{addresses.email}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4 {{addressCol}}">
                    <div class="c-footer__address__container">
                        <div class="c-footer__address__heading">Telephone</div>
                        {% if addresses.phone != "" %}
                        <div class="c-footer__address__content">{{addresses.phone}}</div>
                        {% endif %}
                    </div>
                </div>
				{% if paywall %}
					{% if loggedin != '1' %}
                		<div class="col-2 d-none d-lg-flex justify-content-end">
							<div class="c-footer__address__container">
								<button class="c-button c-button--black-bordered">Subscribe</button>
							</div>
						</div>
					{% endif %}
				{% endif %}
                
            </div>
        </div>
    </div>
    <div class="c-footer__main">
        <div class="container">
            <div class="row">
				{{this.render('../_footer_navigation.twig', {
					items: footerMenu
				}) | raw }}
            </div>
        </div>
    </div>
    <div class="c-footer__responsive d-block d-md-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-nav c-nav-3">
                        <ul class="c-nav__grid">
                            {{this.render('../_submenu_navigation.twig', {
								items: footerBottomMenu
							}) | raw }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="c-footer__bottom-p1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="c-footer__bottom__ack-heading">Acknowledgement</div>
                        <div class="c-footer__bottom__ack-content">'[Publication] acknowledges the Traditional
                            Custodians of country throughout Australia and their connections to land, sea and community.
                            We pay our respect to their Elders past and present and extend that respect to all
                            Aboriginal and Torres Strait Islander peoples today.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom-p2">
            <div class="container">
                <div class="c-footer__bottom-p2-container">
                    <aside class="c-footer__bottom__info">
                        <div class="c-footer__bottom__info__copy">&copy; {{networkData.title}}</div>
                        <div class="c-footer__bottom__info__nav d-none d-md-flex">
                            <a href="javascript:;">Privacy Policy</a>
                            <a href="javascript:;">Terms & Conditions</a>
                        </div>
                    </aside>
                    <aside class="c-footer__bottom__rightSide">
                        <div class="desginer-info d-none d-xl-flex">Designed and powered by <a target="_blank" href="https://publish.pagemasters.com/">Pagemasters Publish</a></div>
                        <div class="u-generic-socialIcons">
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/fb-white.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/insta-white.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/twitter-white.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/vimeo-white.svg" alt="image" />
                            </a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</footer>