{% for item in items %}
    <li>
        <a href="{{item.link |raw}}" class="c-nav__item {{class}} {{activeClass}} {{externalClass}}" {% if item.target != "" %} target="{{item.target}}" {% endif %}>
            {% if item.label != "" %}
                {{item.label}}
            {% elseif item.blogTitle != "" %}
                {{item.blogTitle}}
            {% elseif item.pageTitle != "" %}
                {{item.pageTitle}}
            {% endif %}
        </a>
    </li>
{% endfor %}
