{% for item in items %}
    <a href="{{item.link |raw}}" class="{{class}} {{activeClass}} {{externalClass}}" {% if item.target != "" %} target="{{item.target}}" {% endif %}>
        {% if item.label != "" %}
            {{item.label}}
        {% elseif item.blogTitle != "" %}
            {{item.blogTitle}}
        {% elseif item.pageTitle != "" %}
            {{item.pageTitle}}
        {% endif %}
    </a>
{% endfor %}
