{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}


{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}



{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set logoWidth = 650 %}
{% set logoHeight = 144 %}

{% if config['logo'] is defined %}
{% if config['logo']['width'] is defined %}
{% set logoWidth = config['logo']['width'] %}

{% if config['logo']['height'] is not defined %}
{% set logoHeight = 0 %}
{% endif %}
{% endif %}

{% if config['logo']['height'] is defined %}
{% set logoHeight = config['logo']['height'] %}

{% if config['logo']['width'] is not defined %}
{% set logoWidth = 0 %}
{% endif %}

{% endif %}
{% endif %}

{% set paywall = true %}

{% if config['paywall'] is defined and config['paywall'] == false %}
{% set paywall = false %}
{% endif %}

{% if networkData.logoMedia | length > 0 %}
{% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}

{% set dateFormat = "l, j F Y" %}
{% if config['dateFormat'] is defined and config['dateFormat'] != "" %}
{% set dateFormat = config['dateFormat'] %}
{% endif %}
{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, dateFormat) %}

<header class="c-header">
    <div class="c-header__top d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header__top__container">
                        <div class="c-nav c-nav-1">
                            <a class="c-nav--signIn u-mr--30" href="javascript:;">Sign in</a>
                            <ul class="c-nav__grid">
                                <li>
                                    <a class="c-nav__item" href="javascript:;">About</a>
                                </li>
                                <li>
                                    <a class="c-nav__item" href="javascript:;">Contact</a>
                                </li>
                                <li>
                                    <a class="c-nav__item" href="javascript:;">Advertise</a>
                                </li>
                            </ul>
                        </div>
                        <div class="u-generic-socialIcons">
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/fb-solid.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/insta-solid.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/twitter-solid.svg" alt="image" />
                            </a>
                            <a href="javascript:;" class="u-generic-socialIcons__item">
                                <img src="{{networkData.templatePath}}/static/icons/vimeo-solid.svg" alt="image" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-header__main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-header__main__container">
                        <div class="c-header__main__logo">
                            <a href="javascript:;">
                                <img src={{logo}} class="img-fluid" />
                            </a>
                        </div>
                        <div class="">
                            <button class="c-button c-button--black-bordered">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>